body{
  margin:0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg,#ffd6e7,#d6f0ff);
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  overflow:hidden;
}

.container{
  background:white;
  width:90%;
  max-width:500px;
  padding:25px;
  border-radius:25px;
  box-shadow:0 10px 30px rgba(0,0,0,0.15);
  text-align:center;
  position:relative;
  z-index:2;
}

.hidden{
  display:none;
}

h1{
  color:#ff4f8b;
}

.pet{
  width:180px;
  border-radius:20px;
}

.buttons{
  margin-top:20px;
  position:relative;
  height:120px;
}

button{
  border:none;
  padding:14px 24px;
  border-radius:16px;
  font-size:18px;
  cursor:pointer;
  transition:0.3s;
}

#yesBtn{
  background:#ff5fa2;
  color:white;
}

#noBtn{
  background:#d9d9d9;
  position:absolute;
  margin-left:15px;
}

button:hover{
  transform:scale(1.05);
}

input{
  width:90%;
  padding:12px;
  border-radius:10px;
  border:1px solid #ccc;
  margin:10px 0;
}

.options{
  text-align:left;
  margin-top:15px;
}

.options label{
  display:block;
  margin:10px 0;
}

#continueBtn,
#acceptBtn{
  background:#ff5fa2;
  color:white;
  margin-top:20px;
}

.hearts::before,
.hearts::after{
  content:"💖 💕 🐾 ✨";
  position:absolute;
  font-size:30px;
  animation: float 10s linear infinite;
}

.hearts::after{
  left:70%;
  animation-delay:5s;
}

@keyframes float{
  from{
    transform:translateY(100vh);
  }
  to{
    transform:translateY(-120vh);
  }
}
